*{
    margin: 0;
    padding: 0;
}

header{
    height: auto;
    background-color: rgb(114, 62, 138);
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 nav{
    margin: 3px;
    height: 70px;
    display: flex;
    background-color: green;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    margin-left: 200px;
    margin-top: 50px;
 }

.links{
   list-style: none;
   padding:0;
}
.links li{
display: inline;
margin-right: 90px;

}

.links li a{
   color:black;
   text-decoration: none;
   font-size: 20px;
}

.logo{
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}

.nav Denuncias {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#Denuncias{
    margin: 3px;
    height: 70px;
    width: 150px;
    display: flex;
    background-color: green;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
   
     
}

.carrocel{
    .carrocel {
        height: 400px;
        background-color: orangered;
        width: 200px;
        margin: 0 auto; /* Centraliza horizontalmente */
        /* Outras propriedades de estilo, se necessário */
    }
}

































































body{
   height: 1000px;
   background-color: #f3f2f3;
}

