*{
    margin: 0;
    padding: 0;
}


.body1, .body2 {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
.body1 {
   background-color: #e20000; /* Cor de fundo para body1 */
   height: 100vh; /* 50% da altura da janela do navegador */
}

.body2 {
   background-color: #ff8a8a; /* Cor de fundo para body2 */
   height: 100vh; /* 50% da altura da janela do navegador */
}
header{
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 nav{
    margin: 3px;
    height: 70px;
    display: flex;
    background-color: green;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    margin-left: 200px;
    margin-top: 50px;
 }

.links{
   list-style: none;
   padding:0;
}
.links li{
display: inline;
margin-right: 90px;

}

.links li a{
   color:black;
   text-decoration: none;
   font-size: 20px;
}

.logo{
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}

.nav Denuncias {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#Denuncias{
    margin: 3px;
    height: 70px;
    width: 150px;
    display: flex;
    background-color: green;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
   
     
}

.carrossel {
    height: 400px;
    background-color: #FC6B07;
    width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 30px;
    color: white;
    text-align: justify;
    display: flex;
    overflow: hidden;
}
.Noticias{
   flex: 0 0 100%;
   text-align: center;
   padding: 20px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
}


.Noticias:nth-child(1) {
   background-color: #FC6B07; /* Cor para a primeira notícia */
}

.Noticias:nth-child(2) {
   background-color: #3498db; /* Cor para a segunda notícia */
}

.Noticias:nth-child(3) {
   background-color: #e74c3c; /* Cor para a terceira notícia */
}
    


































































body{
   height: 200vh;
   background-color: #f3f2f3;
}



.carta{
   background-color: #fc6b07;
   height:494.2px;
   width:308.2px;
   border-radius: 3%;
   position:absolute; 
   top: 120vh;
   left:38.2vw
   
}  
.carta1{
   background-color: #fc6b07;
   height:419.7px;
   width:293.1px;
   border-radius: 3%;
   position:absolute; 
   top: 129vh;
   left:15vw
      
   }  

.carta2{
   background-color: #fc6b07;
   height:419.7px;
   width:293.1px;
   border-radius: 3%;
   position:absolute; 
   top: 129vh;
   left:62.2vw
   
}  