*{
    margin: 0;
    padding: 0;
}

header{
    height: auto;
    background-color: rgb(114, 62, 138);
    display: flex;
    align-items: center;
 }
 nav{
    
 }

.links{
   list-style: none;
   padding:0;
}
.links li{
display: inline;
margin-right: 90px;

}

.links li a{
   color:black;
   text-decoration: none;
   font-size: 20px;
}

.logo{
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}



































































body{
   height: 200vh;
   background-color: #f3f2f3;
}



.carta{
   background-color: #fc6b07;
   height:494.2px;
   width:308.2px;
   border-radius: 3%;
   position:absolute; 
   top: 120vh;
   left:38.2vw
   
}  
.carta1{
   background-color: #fc6b07;
   height:419.7px;
   width:293.1px;
   border-radius: 3%;
   position:absolute; 
   top: 129vh;
   left:15vw
      
   }  

.carta2{
   background-color: #fc6b07;
   height:419.7px;
   width:293.1px;
   border-radius: 3%;
   position:absolute; 
   top: 129vh;
   left:62.2vw
   
}  